<p id="notice"><%= notice %></p>

<h1>All our Flats (<%= Flat.count %>)</h1>

<%= link_to 'Add Flat', new_flat_path %>
<% @flats.each do |flat| %>
  <div class="card">
    <%= flat.name %>
    <%= flat.address %>
    <%= flat.description %>
    <%= flat.price_per_night %>
    <%= flat.number_of_guests %>
    <%= link_to 'More Info', flat %>
  </div>
<% end %>
<br>
